main {
  flex: 3;
  background-color: white;
}

main .global_search {
  display: flex;
  width: 741px;
  height: 48px;
  left: 272px;
  top: 60px;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  align-items: center;
  margin: 5px;
  padding: 10px;
}
main .global_search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #fafafa;
}

main .recent_data {
  display: flex;
}

main .recent_data > div {
  display: flex;
  flex-direction: column;
  background: url("./asserts/17-athletics.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 227px;
  height: 80px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}
main h5 {
  padding: 10px;
}

main .users_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  gap: 100px;
  width: 741px;
  height: 56px;
  left: 271px;
  top: 404px;
}

main .users_left_header {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 56px;
}

main .users_right_header {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 315px;
  height: 32px;
}
main .users_right_header .users_input {
  display: flex;
  align-items: center;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
main .users_right_header input {
  width: 240px;
  height: 32px;
  left: 0px;
  top: 0px;
  background: #fafafa;
  outline: none;
  padding: 10px;
  border: none;
}

main .users_right_header .users_filter {
  display: flex;
}

.users_pagination {
  margin: 5px;
  width: 100%;
  background: #f7f7f7;
  border-radius: 0px 0px 4px 4px;
}
.users_pagination ul {
  display: flex;
}
.users_pagination li {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  color: black;
}

.users_pagination ul button {
  margin-left: 5px;
  background: none;
  border: none;
}
