.right_section {
  width: 100%;
  padding: 10px;
  margin: 10px;
  flex: 3;
  background: white;
}

.right_section .profile_section {
  display: flex;
  padding: 10px;
  justify-content: end;
}

.right_section .profile_section img {
  width: 40px;
  height: 40px;
}
.right_section .profile_section .name_role {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 40px;
  line-height: 80%;
}

#name {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #4c4c4c;
}

#role {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b3b3b3;
}

#notification_icon {
  padding: 5px;
  background: #f2f2f2;
  border-radius: 50px;
}

.transaction {
  width: 351px;
  height: 290px;
  left: 1081px;
  top: 188px;

  background: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.transaction h5 {
  width: 158px;
  height: 32px;
  left: 1188px;
  top: 220px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;

  color: #000000;
  margin: auto;
}

.transaction button {
  width: 40%;

  left: 1207px;
  top: 436px;

  background: #b4cd93;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  padding: 8px;
  gap: 10px;
  margin: auto;
}

.date {
  background: #f7f7f7;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date .time {
  display: flex;
  flex: 2;
}
.date .time .t {
  margin: 5px;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #fcfcfc;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  text-align: center;
  padding: auto;
}

.date_string {
  flex: 1;
  width: 91px;
  height: 32px;

  border: none;
  color: #4c4c4c;
}
