main .users_list {
  margin-top: 40px;
}

main .users_list .user_name {
  display: flex;
  align-items: center;
}

main .users_list .user_name img {
  width: 32px;
  height: 32px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  margin-right: 5px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.progress {
  width: 100px;
  height: 5px;
}

.rating .growth {
  display: flex;
  align-items: center;
  background-color: rgb(204, 252, 204);
  padding: 2px;
  border: none;
  border-radius: 2px;
}

.table_row {
  margin: 2px;
}
